<!doctype html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Chances candidates win given they are nominated, based on PredictIt prices</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  <body>
    <p>
    This is a simple ticker of what PredictIt thinks the probability that each
    candidate wins is, given that they are nominated to their respective parties.
    The formula is:
    </p>

    $$ P(candidate\ wins\ presidency)/P(candidate\ wins\ nomination) $$

    <p>
    I need to double check on this, especially whether PredictIt prices are correctly
    interpreted as probabilities.
    </p>

    <p>
      If you think these percentages are wrong,
      <a href="https://www.predictit.org/markets/1/US-Elections"> bet against them!</a>
    </p>

    <p>
    In future hope to change colors and make it look nicer, then start tracking
    this hourly(ish) and add a chart underneath with moving numbers.
    </p>

    <p>
      <a href="mailto:harryelworthy@gmail.com"> Email me </a>
    </p>

    <p>
      <a href="https://github.com/harryelworthy/candidates_project"> Git Repo </a>
  </body>
</div>
