<!doctype html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<title>Top Candidates according to Markets</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

  <h1>Chances candidates win given they are nominated, based on PredictIt prices</h1>

  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}


  <body>
    <p>
    This is a simple ticker of what PredictIt thinks the probability that each
    candidate wins is, given that they are nominated to their respective parties.
    The formula is:
    </p>

    $$ P(candidate\ wins\ presidency)/P(candidate\ wins\ nomination) $$

    <p>
      These percentages are probably too high, especially on the high (&gt70%) end.
      More on methodology <a href="about"> here. </a>
    </p>

    <p>
      If you think these percentages are wrong,
      <a href="https://www.predictit.org/markets/1/US-Elections"> bet against them!</a>
    </p>

    <p>
      Made by Harry Elworthy. Email me <a href="mailto:harryelworthy@gmail.com">here.</a> Git Repo <a href="https://github.com/harryelworthy/candidates_project">here.</a>
    </p>

  </body>

</div>
